/*Start Font*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
/*End Font*/

/*Start Body*/
body{
    background-color: lightgoldenrodyellow;
    color: #24292e;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
}
/*End Body*/

/*Start Debug*/
.bg-white{
    background-color: white;
}

.bg-lightgray {
    background-color: lightgray;
}

.bg-whitesmoke {
    background-color: whitesmoke;
}

.bg-beige {
    background-color: beige;
}

/*End Debug*/

/*Start Container*/
.container {
    margin: 10px auto;
    overflow: auto;
    width: 90%;
}

.container-full {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}
/*End Container*/

/*Start Logo*/
.logo {
    text-align: center;
}
/*End Logo*/

/*Start Anchor / Hyperlink*/
a:link,
a:visited{
    color: #0366d6;
    text-decoration: none;
}
a:hover,
a:active {
    color: #000000;
    text-decoration: underline;
}
/*End Anchor / Hyperlink*/

/*Start Menu Primer*/
.menu-primer ul {
    background-color: chocolate;
    border-radius: 4px;
}

.logo1{
    display: inline-block;
    vertical-align: middle;
}

.menu-primer ul li {
    border-right: 1px solid #d1d5da;
    display: inline-block;
}

.menu-primer a {
    color: #ffffff;
    font-size: 16px;
    display: inline-block;
    letter-spacing: 1px;
    padding: 21px 26px;
    text-transform: uppercase;
}

.menu-primer a:hover {
    background-color: #f7f7f7;
    color: #000000;
    text-decoration: none;
}

.menu-primer .active {
    background-color: #ffffff;
    color: #333333;
    text-decoration: none;
}
/*End Menu Primer*/

/*Start Heading*/
h1, h2, h3, h4, h5, h6 {
   font-weight: 400;
   letter-spacing: 1px; 
}
h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
h6 {
    font-size: 13px;
}
/*End Heading*/

/*Start Jumbotron*/
.jumbotron {
    background-color: rgb(180, 135, 68);
    border: 1px solid khaki;
    border-radius: 4px;
    padding: 20px 0; 
}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px;
}
.jumbotron h3 {
    font-size: 20px;
    padding: 0 20px;
}
/*End Jumbotron*/

/*Start Main*/
.main-home-one {
    float: left;
    width: 49.5%;
}
.main-home-two {
    float: right;
    width: 49.5%; 
}
.main-home-three {
    width: 100%;
}
.main-home-four {
    float: left;
    width: 25%;
}
.main-home-five {
    float: left;
    width: 50%;
}
.main-home-one .box-isi,
.main-home-two .box-isi {
    height:140px;
}
.main-home-four .box-isi {
    height:340px;
}
.main-home-five .box-isi {
    height:330px;
}
/*End Main*/

/*Start Box*/
.box-heading {
    background-color: khaki;
    border: 1px solid darkkhaki;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 0;
}

.box-isi {
    background-color: lightgoldenrodyellow;
    border: 1px solid darkkhaki;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
}
/*End Box*/

/*Start Testimonial*/
.testimonial {
    border-left: 4px solid #dfe2e5;
    margin-left: 30px;
    padding-left: 20px;
}
/*End Testimonial*/

/*Start Form*/
input[type="text"],
input[type="email"]{
    font-size: 14px;
    padding: 10px;
}

input::placeholder,
textarea::placeholder {
    color: #888888;
    font-weight: 300;
}

input[type="submit"] {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border: 1px solid rgba(27, 31, 35, 0.2);
    border-radius: 4px;
    color:#000000;
    font-size: 12px;
    font-weight: bold;
    margin: 5px 0;
    padding: 5px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/*End Form*/


/*Start Register Form*/
.register-form div {
    margin: 20px;
}
/*End Register Form*/

/*Start Menu Sekunder*/
.menu-sekunder {
    background-color: darkkhaki;
    border-bottom: 1px solid #eaecef;
    border-top: 1px solid #eaecef;
    overflow: auto;
    padding: 10px 0;
}

.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}

.menu-sekunder ul {
    padding: 0;
}

.menu-sekunder li {
    padding: disc;
}

.menu-sekunder li a,
.menu-sekunder p {
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}

.menu-sekunder-one {
    width: 40%;
}

.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%;
}

.menu-sekunder li img {
    vertical-align: middle;
}

.menu-sekunder img {
  vertical-align: middle;
}
/*End Menu Sekunder*/

/*Start Copyright*/
.copyright p {
    font-size: 15px;
}
/*End Copyright*/

/*Start Wow Effect*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Teko:700');
.snip1543 {
  background-color: #fff;
  color: #ffffff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  overflow: hidden;
  position: relative;
  text-align: left;
  width: 100%;
  margin: auto;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.snip1543 *,
.snip1543 *:before,
.snip1543 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543 img {
  backface-visibility: hidden;
  max-width: 100%;
  vertical-align: top;
}

.snip1543:before,
.snip1543:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background-color: khaki;
  opacity: 0.5;
  -webkit-transition: all 0.45s ease;
  transition: all 0.45s ease;
}

.snip1543:before {
  -webkit-transform: skew(30deg) translateX(-80%);
  transform: skew(30deg) translateX(-80%);
}

.snip1543:after {
  -webkit-transform: skew(-30deg) translateX(-70%);
  transform: skew(-30deg) translateX(-70%);
}

.snip1543 figcaption {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1;
  bottom: 0;
  padding: 25px 40% 25px 20px;
}

.snip1543 figcaption:before,
.snip1543 figcaption:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: chocolate;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  content: '';
  opacity: 0.5;
  z-index: -1;
}

.snip1543 figcaption:before {
  -webkit-transform: skew(30deg) translateX(-100%);
  transform: skew(30deg) translateX(-100%);
}

.snip1543 figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-90%);
  transform: skew(-30deg) translateX(-90%);
}

.snip1543 h3,
.snip1543 p {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}

.snip1543 h3 {
  font-family: 'Teko', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.snip1543 p {
  font-size: 0.9em;
}

.snip1543 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1543:hover h3,
.snip1543.hover h3,
.snip1543:hover p,
.snip1543.hover p {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 0.9;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.snip1543:hover:before,
.snip1543.hover:before {
  -webkit-transform: skew(30deg) translateX(-20%);
  transform: skew(30deg) translateX(-20%);
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.snip1543:hover:after,
.snip1543.hover:after {
  -webkit-transform: skew(-30deg) translateX(-10%);
  transform: skew(-30deg) translateX(-10%);
}

.snip1543:hover figcaption:before,
.snip1543.hover figcaption:before {
  -webkit-transform: skew(30deg) translateX(-40%);
  transform: skew(30deg) translateX(-40%);
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.snip1543:hover figcaption:after,
.snip1543.hover figcaption:after {
  -webkit-transform: skew(-30deg) translateX(-30%);
  transform: skew(-30deg) translateX(-30%);
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
/*End Wow Effect*/

/*Start Cart Product*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  font-family: 'Fira Sans Extra Condensed', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: auto;
  min-width: 200px;
  max-width: 293.05px;
  width: 100%;
  font-size: 16px;
  background-color: #fff;
  color: #111;
  line-height: 1.2em;
  text-align: center;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: green;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}
/*End Cart Product*/